In [5]:
import numpy as np 
import pandas as pd 

import os
print(os.listdir("./"))

['.ipynb_checkpoints', 'Combined_News_DJIA.csv', 'data_description.ipynb', 'DJIA_table.csv', 'ori.ipynb', 'RedditNews.csv']

In [9]:
df = pd.read_csv('Combined_News_DJIA.csv')
type(df)

pandas.core.frame.DataFrame

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 27 columns):
Date     1989 non-null object
Label    1989 non-null int64
Top1     1989 non-null object
Top2     1989 non-null object
Top3     1989 non-null object
Top4     1989 non-null object
Top5     1989 non-null object
Top6     1989 non-null object
Top7     1989 non-null object
Top8     1989 non-null object
Top9     1989 non-null object
Top10    1989 non-null object
Top11    1989 non-null object
Top12    1989 non-null object
Top13    1989 non-null object
Top14    1989 non-null object
Top15    1989 non-null object
Top16    1989 non-null object
Top17    1989 non-null object
Top18    1989 non-null object
Top19    1989 non-null object
Top20    1989 non-null object
Top21    1989 non-null object
Top22    1989 non-null object
Top23    1988 non-null object
Top24    1986 non-null object
Top25    1986 non-null object
dtypes: int64(1), object(26)
memory usage: 419.6+ KB

In [11]:
df.describe()

             Label
count  1989.000000
mean      0.535445
std       0.498867
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [12]:
df.sample(5)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
330,2009-11-30,1,"b'""We have seen new kinds of cancer that were ...",b'Former Miss Argentina dies after ass surgery ',b'Pirate Bay refuses to shut down. remains elu...,"b""Hugo Chavez threatens to nationalize private...","b'Sacked by text, the Indian workers who built...","b'""We are not a backward people, and we are \r...",b'UK again shows no backbone in extradition re...,b'East Jerusalem should be Palestinian capital...,...,b'20 Signs That The U.K. Has Become The Most O...,b'American troops did not expect to play a rol...,"b""Canada's image lies in tatters. It is now to...",b'A new law has come into force making it a cr...,"b'Chinese state media reveal secret, illegal j...",b'It is a great honor for me to stand here ton...,b'Israeli military now hiring professional tro...,b'Report: Teenage suicide bomber kills Pakista...,b'The party is over in Dubai. It officially en...,b'Northern Ireland - 50% rise in new HIV cases...
1113,2013-01-10,1,The world's population could actually start de...,Ex-CIA Analyst Finds Mysterious Chinese Comple...,German bishops cancel study into sexual abuse ...,'My goodness there's a snake on the wing': Sna...,McDonalds to give out books instead of toys in...,Pakistan kiln laborers hemmed in by debts they...,Blind stroke victim tasered after a police off...,Three Kurdish women activists have been found ...,...,Chinese animal rights group helps rescue bears...,Locals seek help from Canadian gov as a dozens...,Tattooed composer in strong run for Czech pres...,Calls Out to Change How South Korea Treats Men...,Ancient Medicine in Roman Shipwreck Round tin...,3 Kurdish women shot dead in Paris,U.N. wants to use drones for peacekeeping miss...,"Australian Wildfires: Clinging to Life, a Fami...",Saudi Arabia Beheads Young Sri Lankan Maid,Millions of New Species of 'Killer Slugs' From...
1495,2014-07-18,1,The World Health Organization calls for the de...,Israel Ground Invasion of Gaza has Begun,"As Putin blames Ukraine for MH17 tragedy, vide...",US Intelligence Confirms Surface to Air Missil...,Dutch Senator killed in Malaysia Airlines crash,Russia Today London correspondent resigns in p...,Family suffers tragedy twice. Kaylene Mann los...,Hamas hacks Israeli TV sat channel to broadcas...,...,U.S. Senate Doubles Funding for Israel's Iron ...,City workers in Seoul will be allowed an hour ...,Russian aircrafts violate Ukrainian air space ...,"- Two months after ordering 2,000 trains that ...",ISIS Threatens To Kill Creator of Muslim Super...,Boko Haram Jihadists Massacre 38 Christians Du...,The Indian Prime Minister's flight was close b...,Putin's Statement on Ukraine Plane Crash,Airline will not escape liability if act of wa...,Obama makes first remarks on plane crash in Uk...
1645,2015-02-23,0,The family of the codebreaker Alan Turing will...,There's a massive new leak of confidential spy...,China to credit Ukraine for $3.6 bln to reduce...,Edward Snowden documentary Citizenfour wins Oscar,Report: ISIS leader gunned down in Mosul.,Egypt's President: It's time for an Arab coali...,Reuters bureau chief found dead in Islamabad,Measles kill toddler in Berlin,...,Girl as young as seven kills herself and five ...,Ukraine's army refuses to start withdrawing he...,The leader of an ISIS brigade in Qalamoun was ...,Putin approved Ukraine invasion before Kiev go...,ISIS Destroy Virgin Mary Church and Central Li...,Great Britain: Baroness Warsi gave official ro...,France deployed an aircraft carrier in the Gul...,Israel asks UN to condemn Iran Holocaust carto...,Hindus urge Pope Francis to discipline Derry p...,'Hamas-Fatah rift hindering efforts to rebuild...
316,2009-11-09,1,b'Three more government drug advisers resign a...,"b""UK ministers cancel 'Big Brother' database: ...",b'Rupert Murdoch wants to find ways to block G...,b'Mikhail Kalashnikov celebrates his 90th birt...,"b""Fat in Japan? You're breaking the law""",b'China Executes 9 for Role in Uighur Riots',b'Cannabis use in Europe',"b'""The morning I finally decided to give up us...",...,b'Statement from school the media reported to ...,"b'AIPAC head who was indited for espionage, wa...",b'Ban Ki-moon is expected to transmit the Gold...,"b""An elderly, half-blind cat had a noose place...","b'The Berlin Wall, 20 years gone - The Big Pic...","b""Brazil pledges deep emission cuts in 'politi...",b'IMAGINE the United States is in ruins from c...,b'There has been a clash between ships from th...,"b'""If Mr Netanyahu believes that he has achiev...",b'The British Government has dissolved the \r\...