In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import stop_words

In [2]:
data = pd.read_csv('Combined_News_DJIA.csv')

In [10]:
slicedData = data.iloc[:1988,2:27]
slicedData.replace(to_replace="[^a-zA-Z]", value=" ", regex=True, inplace=True)
wholelines = []
for row in range(0,len(slicedData.index)):
    wholelines.append(' '.join(str(x) for x in slicedData.iloc[row,0:25]))
len(wholelines)

1988

In [4]:
label = data.iloc[:,1]

In [5]:
print(label)

0       0
1       1
2       0
3       0
4       1
5       1
6       0
7       0
8       1
9       1
10      1
11      0
12      1
13      1
14      1
15      0
16      0
17      1
18      0
19      1
20      1
21      0
22      1
23      1
24      0
25      0
26      1
27      0
28      1
29      1
       ..
1959    1
1960    0
1961    1
1962    1
1963    0
1964    1
1965    0
1966    1
1967    1
1968    0
1969    1
1970    1
1971    1
1972    0
1973    0
1974    0
1975    0
1976    0
1977    1
1978    0
1979    1
1980    1
1981    0
1982    1
1983    0
1984    0
1985    1
1986    1
1987    1
1988    1
Name: Label, Length: 1989, dtype: int64

In [6]:
label = label.iloc[1:]

In [7]:
print(label)

1       1
2       0
3       0
4       1
5       1
6       0
7       0
8       1
9       1
10      1
11      0
12      1
13      1
14      1
15      0
16      0
17      1
18      0
19      1
20      1
21      0
22      1
23      1
24      0
25      0
26      1
27      0
28      1
29      1
30      0
       ..
1959    1
1960    0
1961    1
1962    1
1963    0
1964    1
1965    0
1966    1
1967    1
1968    0
1969    1
1970    1
1971    1
1972    0
1973    0
1974    0
1975    0
1976    0
1977    1
1978    0
1979    1
1980    1
1981    0
1982    1
1983    0
1984    0
1985    1
1986    1
1987    1
1988    1
Name: Label, Length: 1988, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(wholelines, label, test_size=.1, random_state=0)
len(y_train)

1789

In [27]:
basicvectorizer = TfidfVectorizer(ngram_range=(3,3), stop_words='english',max_features=3000)
basictrain = basicvectorizer.fit_transform(X_train)
basictest = basicvectorizer.transform(X_test)
print(basictrain.shape)
print(basictest.shape)

(1789, 3000)
(199, 3000)

In [28]:
clf = SVC(C=0.5,kernel='linear')
clf.fit(basictrain, y_train)
predictions = clf.predict(basictest)

In [29]:
pd.crosstab(y_test, predictions, rownames=["Actual"], colnames=["Predicted"])

Predicted   0   1
Actual
0          19  71
1          17  92